/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

/.env
/.env.backup
/.env.production

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

/.fleet
/.idea
/.vscode

# Generated QR code
/public/qr/*
!/public/qr/.gitkeep

# File upload user
/public/uploads/*
!/public/uploads/.gitkeep

/public/upload/*
!/public/upload/.gitkeep

/public/bukti/*
!/public/bukti/.gitkeep

# Foto transaksi / bukti pembayaran / pengiriman (ignore all uploads but keep static assets)
/public/foto/*
!/public/foto/avatar.png
!/public/foto/logo.png
!/public/foto/logo.jpg
!/public/foto/user.png
!/public/foto/bg.jpg
!/public/foto/bge3.webp
!/public/foto/line.png
!/public/foto/location.png
!/public/foto/bayar.webp
!/public/foto/a.png
!/public/foto/b.png
!/public/foto/c.png
!/public/foto/d.png
!/public/foto/1a.png
!/public/foto/1b.png
!/public/foto/2a.png
!/public/foto/2b.png
!/public/foto/3a.png
!/public/foto/3b.png
!/public/foto/daftar.png
!/public/foto/loginn.png